@media (max-width: 576px) 
	.main-top 
		.info-block 
			span.link-left
				width: 100%
				top: 110px
				left: 0
				a
					display: block
					padding: 0 10px
					text-align: center
			span.link-right
				width: 100%
				top: 140px
				left: 0
				a
					display: block
					float: none
					padding: 0 10px
					text-align: center
		.main-cart
			height: 180px
			img
				top: 60px
@media (max-width: 768px) 
	//

@media (max-width: 992px) 
	//

@media (max-width: 1200px)
	.main-cart
		width: 100%
	.info-cart
		width: auto
	

