$default-font: RobotoRegular,sans-serif
$bg-color: #ededed
$bgth-color: #00697c
$accent-color: #00697c
$white: #fff
$font-color: #00697c
$fontth-color: #ededed
$bg-layer-color: #303845
$black: #000
$fzbutton: 1.1rem