@import "catalog/view/javascript/bootstrap/scss/bootstrap-grid"
@import "mixins/mixin.scss"
@import "mixins/mixins"
@import "fonts"
@import "vars"

html
	font-size: 14px
	height: 100%

@media only screen and (max-width: 400px)
	html
		font-size: 9.411764705882353px

@media only screen and (max-width: 991px)
	//
@media only screen and (min-width: 991px)
	//
body
	background-color: $main-color
	font-size: 1.2rem
	font-style: normal
	font-weight: normal
	line-height: 1.941
	color: $font-color
	margin: 0
	padding: 0
	font-family: $default-font
	letter-spacing: 1px
a
	transition: all 0.3s ease-in-out
	color: $font-color
	&:hover, &:active
		outline: 0
		color: darken($font-color, 15%)

\:target:before
	display: block
	content: " "
	height: 60px
	visibility: hidden


.alert-dismissible
	position: fixed
	top: 97px
	right: 250px
	z-index: 1000
	a
		color: $font-color
.alert-dismissable .close, .alert-dismissible .close
	right: -10px
section
	padding: 30px 0 
section.services
	padding: 0
	.product-thumb
		background-color: $white
		border-radius: 6px
		a
			color: $font-color
	p
		font-size: 12px
		&.lead
			font-size: 20px
	.price
		color: $font-color
		text-align: center
		font-size: 20px
	span
		color: $font-color
		&:hover
			color: darken($font-color, 15%)
#product-product
	.tab-content p
		font-size: 15px
	padding-top: 90px
	#content
		color: #eee
#checkout-cart
	padding-top: 90px
	a
		color: $font-color
#checkout-checkout, #error-not-found
	padding-top: 70px
	a
		color: $font-color
#common-success
	padding-top: 100px

.services-h2
	position: relative
	font-weight: bold
	text-align: center
	display: block
	text-transform: uppercase
	+push-auto
	animation-duration: 1000ms
	animation-delay: .3s
.services-hr
	width: 70px
	height: 2px
	background-color: $white
	border: none
	animation-delay: .3s
	margin-bottom: 20px
.services-p
	animation-duration: 1000ms
	animation-delay: .3s	
	text-align: center	
	color: $white
	margin-bottom: 60px		
.main-top
	height: 80px
	border-bottom: 1px $accent-color solid
	+grad-l($accent-color, darken($accent-color, 10%))
	.navbar-brand
		display: flex
		flex-direction: row 
		align-items: center
		height: 80px
		text-transform: uppercase
		color: $white
.main-cart
	background-color: $accent-color
	height: 80px
	width: 600px
	display: flex
	flex-direction: row 
	float: right
	margin-right: 15px
	+grad-l($accent-color, darken($accent-color, 10%))
	position: relative
	img
		left: 50%
		margin-left: -77px
		bottom: 0
		position: absolute
	.link-left		
		width: 200px
		position: absolute
		bottom: 5px
		left: 20px
		a
			color: $white
			font-size: 0.9rem
	.link-right		
		width: 200px
		position: absolute
		bottom: 5px
		right: 20px
		a
			color: $white
			font-size: 0.9rem
			float: right
.info-cart
	background-color: $white
	height: 30px
	width: 100%
	margin: 10px 10px 0 10px
	font-size: .9rem
	padding: 3px 15px
	font-weight: bold
	letter-spacing: 1px
	display: flex
	flex-direction: row
	justify-content: center
	a
		text-decoration: underline
#cart
	margin: 0
	font-size: 0.7rem

	



footer
	margin-top: 0