@import "catalog/view/javascript/bootstrap/scss/bootstrap-grid"
@import "mixins/mixin.scss"
@import "mixins/mixins"
@import "fonts"
@import "vars"

html
	font-size: 14px
	height: 100%
	min-width: 320px
	box-sizing: border-box

@media only screen and (max-width: 450px)
	#content .header-top, #myCarousel .item
		height: 100vh
	#content .carousel-inner .carousel-caption
		height: 50vh
		margin-bottom: 25vh
		margin-top: 25vh
		bottom: 0
		p
			font-size: .9rem
		h1
			font-size: 1.4rem
@media only screen and (min-width: 992px)
	body .navbar.navbar-default.container.navbar-fixed-top
		max-width: 100%
		
@media only screen and (max-width: 991px)
	body .navbar.navbar-default.container
		width: 100%
		max-width: 100%
		+border(1px, $accent-color, top-bottom)
		border:
			right: 0
			left: 0
	body .navbar-fixed-top .navbar-nav
		float: none
	body .navbar-nav
		width: auto
		background-color: $main-color
		margin: 0
		+border(2px, $accent-color, bottom)
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
		background-color: $accent-color
		color: $white
@media only (min-width: 511px) and (max-width: 991px)
	body 
		#common-home .alert-dismissible
			top: 170px
			width: 390px
			left: 0
			font-size: .9rem
			line-height: 20px
		.main-top .navbar-brand.navbar-brand-fix
			width: 390px
			font-size: .8rem
			font-weight: bold
			font-family: Arial,Helvetica Neue,Helvetica,sans-serif
@media only (min-width: 992px) and (max-width: 1500px)
	
	#common-home .alert-dismissible
		top: 232px
		right: 0
		width: 400px

	.main-top .navbar-brand.navbar-brand-fix
		font-size: 1rem
		width: 440px
		font-weight: bold
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif
@media only screen and (max-width: 510px)
	.main-top .navbar-brand.navbar-brand-fix
		width: 250px
		font-size: .6rem
		font-weight: bold
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif
	
@media only screen and (max-width: 1500px)
	#content .header-top
		top: 0
	.navbar-default.container
		max-width: 100%
	body .main-top
		height: 174px
	body .info-block
		width: 100%
		margin: 0
	body .main-cart
		width: 100%
		height: 72px
		+grad-l(darken($main-color, 5%), darken($main-color, 5%))
		border-right: 0
		border-left: 0
	body .info-cart
		position: absolute
		width: 80%
		left: 50%
		margin-left: -40%
		margin-top: 0
	#content .navbar
		margin: 0
	body #content .navbar-default
		top: 0
@media only screen and (max-width: 510px)
	html #common-home .alert-dismissible
		top: 212px
		width: 240px
		left: 0
		font-size: .9rem
	body .info-block 
		height: 50px
	body .main-cart 
		height: 50px
		.info-cart
			padding: 3px 0
			width: 100%
			margin: 0
			left: 0
		img
			display: none
	body .main-top
		height: 214px
		+grad-l(darken($main-color, 5%), darken($main-color, 5%))
		.navbar-brand
			font-size: 1rem
		.link-left
			width: 100%
			top: 50px
			left: 0
			right: 0
			padding: 0
			+grad-l(darken($main-color, 5%), darken($main-color, 5%))
			a
				display: block
				text-align: center
				&:hover
					background-color: $accent-color
					color: $main-color
		.link-right
			width: 100%
			top: 80px
			left: 0
			right: 0
			padding: 0 
			+grad-l(darken($main-color, 5%), darken($main-color, 5%))
			a
				display: block
				float: none
				text-align: center
				&:hover
					background-color: $accent-color
					color: $main-color
body
	background-color: $main-color
	position: relative
	font-size: 1.2rem
	font-style: normal
	font-weight: normal
	line-height: 1.941
	color: $font-color
	margin: 0
	padding: 0
	font-family: $default-font
	letter-spacing: 1px
	overflow-x: hidden
	box-sizing: border-box
a
	transition: all 0.3s ease-in-out
	color: $font-color
	&:hover, &:active
		outline: 0
		color: darken($font-color, 15%)
#content
	padding: 0



.alert-dismissible
	position: fixed
	top: 150px
	right: 50px
	z-index: 1200
	a
		color: $font-color
.alert-dismissable .close, .alert-dismissible .close
	right: -10px

section.services
	padding: 0
	.product-thumb
		background-color: $white
		border-radius: 6px
		a
			color: $font-color
	p
		font-size: 12px
		&.lead
			font-size: 20px
	.price
		color: $font-color
		text-align: center
		font-size: 20px
	span
		color: $font-color
		&:hover
			color: darken($font-color, 15%)
#product-product
	.tab-content p
		font-size: 15px
	padding-top: 90px
	#content
		color: $main-color
#checkout-cart
	padding-top: 90px
	a
		color: $font-color
#checkout-checkout, #error-not-found
	padding-top: 70px
	a
		color: $font-color
#common-success
	padding-top: 100px

.services-h2
	position: relative
	font-weight: bold
	text-align: center
	display: block
	text-transform: uppercase
	+push-auto
	animation-duration: 1000ms
	animation-delay: .3s
.services-hr
	width: 70px
	height: 2px
	background-color: $white
	border: none
	animation-delay: .3s
	margin-bottom: 20px
.services-p
	animation-duration: 1000ms
	animation-delay: .3s	
	text-align: center	
	color: $accent-color
	margin-bottom: 60px		
.main-top
	height: 102px
	border-bottom: 1px $accent-color solid
	+grad-l($main-color, darken($main-color, 10%))
	.navbar-brand
		display: flex
		flex-direction: row 
		align-items: center
		height: 102px
		text-transform: uppercase
		color: $accent-color
.info-block	
	width: 600px
	height: 102px
	margin-right: 30px
.main-cart
	background-color: $main-color
	height: 102px	
	display: flex
	flex-direction: row 
	+border(1px, $accent-color, all)
	float: right	
	+grad-l($main-color, darken($main-color, 10%))
	position: relative
	img
		left: 50%
		margin-left: -77px
		bottom: 0
		position: absolute
	.link-left		
		width: 145px
		position: absolute
		bottom: 5px
		height: 30px
		left: 20px
		line-height: 30px
		a
			color: $accent-color
			font-size: 0.9rem
			&:hover
				color: darken($accent-color, 9%)
	.link-right		
		width: 145px
		position: absolute
		bottom: 5px
		height: 30px
		right: 35px
		line-height: 30px
		a
			color: $accent-color
			font-size: 0.9rem
			float: right
			&:hover
				color: darken($accent-color, 9%)
.info-cart
	background-color: $white
	height: 30px
	width: 600px	
	margin: 30px 10px 0 10px
	font-size: .9rem
	padding: 3px 35px
	font-weight: bold
	letter-spacing: 1px
	display: flex
	flex-direction: row
	justify-content: center
	a
		text-decoration: underline
#cart
	margin: 0
	font-size: 0.7rem
.navbar.navbar-default
	+push-auto
	display: block
	margin-bottom: 0
	background-color: $main-color
	z-index: 1000
	border:
		right: 0
		left: 0
	border-radius: 0
	top: 0
.navbar-fixed-top .navbar-nav
	float: right
	
.navbar-nav
	width: 518px
	float: none
	+push-auto
	display: block
.navbar-default .navbar-nav>li>a
	color: $accent-color
	padding: 10px 15px
.navbar
	min-height: 42px
	
.navbar-default.navbar-fixed-top
	width: 100%
#content .navbar-default.navbar-fixed-top
	top: 0
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
	background-color: $accent-color
	color: $white
.navbar-brand.navbar-brand-fix
	position: fixed
	left: 0
	top: 0
	height: 42px
	z-index: 1100
	width: 800px
	color: $accent-color
.navbar-collapse
	padding: 0
#Catalog
	padding-top: 55px
	margin-top: -55px
	-webkit-background-clip: content-box
	background-clip: content-box
#Services
	height: 951px
.header-top
	width: 100%
	height: 60vh	
	top: 0
	position: relative
.carousel-inner
	.item:first-child
		background-image: url(/image/back-header.jpg)
		background-size: cover
		background-position: center
	.item:nth-child(2)
		background-image: url(/image/hero-bg.jpg)
		background-size: cover
		background-position: center
	.item:nth-child(3)
		background-image: url(/image/hero-bg.jpg)
		background-size: cover
		background-position: center
	.item
		+push-auto
		width: 100%
		height: 60vh
	p
		width: 85%	
		+push-auto


	
.carousel-inner .carousel-caption
	height: 40vh
	margin-bottom: 10vh
	margin-top: 10vh
	bottom: 0
	display: flex
	flex-direction: column
	justify-content: center

.navbar-toggle
	margin: 0
	padding: 12px
footer
	margin-top: 0

	